{
    "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-classnames", "prettier-plugin-merge"],
    "tabWidth": 4,
    "semi": false,
    "bracketSpacing": true,
    "singleAttributePerLine": true,
    "singleQuote": false,
    "jsxSingleQuote": false,
    "trailingComma": "none",
    "printWidth": 120
}
