{
    "tabWidth": 4,
    "semi": false,
    "bracketSpacing": true,
    "singleAttributePerLine": true,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "trailingComma": "none",
    "printWidth": 120
}
